#Java
*.class

#Maven
target/
release.properties
pom.xml.releaseBackup
dependency-reduced-pom.xml

#IntelliJ
*.iml
*.ipr
*.iws
.idea/

#RestX
*.log
tmp/

#Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~