.badge-active {
    color: rgb(66, 139, 202);
    background-color: rgb(255, 255, 255);
}

.badge-active-default {
    color: rgb(153, 153, 153);
    background-color: rgb(255, 255, 255);
}

.badge-active-primary {
    color: rgb(66, 139, 202);
    background-color: rgb(255, 255, 255);
}

.badge-active-success {
    color: rgb(92, 184, 92);
    background-color: rgb(255, 255, 255);
}

.badge-active-info {
    color: rgb(91, 192, 222);
    background-color: rgb(255, 255, 255);
}

.badge-active-warning {
    color: rgb(240, 173, 78);
    background-color: rgb(255, 255, 255);
}

.badge-active-danger {
    color: rgb(217, 83, 79);
    background-color: rgb(255, 255, 255);
}

.panel-body-accordion {
    padding: 0px;
}

.list-group-accordion {
    margin-bottom: 0px;
}