    <div class="container">

      <div class="row">
        <h2>Alcatel-Lucent Colombes FC</h2>
        <p>Toute petite application pour enregistrer les résultats du jeudi midi. Histoire de savoir qui marque le plus de buts et qui perd le plus de matchs. :D</p>
        <p>Work in progress...</p>
        <ul class="icons-ul">
            <li><i class="icon-li icon-check"></i>Interface présence.</li>
            <li><i class="icon-li icon-check"></i>Classement.</li>
            <li><i class="icon-li icon-check"></i>Interface de gestion CRUD joueur.</li>
            <li><i class="icon-li icon-check"></i>Gestion de match <i class="icon-double-angle-right"></i> buts et fin de match.</li>
            <li><i class="icon-li icon-check-empty"></i>Compte des matchs nuls.</li>
            <li><i class="icon-li icon-check-empty"></i>Interface de gestion des équipes.</li>
            <li><i class="icon-li icon-check-empty"></i>Sauvegarde de toutes les parties au lieu de réinitialiser la même chaque semaine.</li>
            <li><i class="icon-li icon-check-empty"></i>Affichage des buteurs.</li>
            <li><i class="icon-li icon-check-empty"></i>Consultation de l'historique des matchs.</li>
            <li><i class="icon-li icon-check-empty"></i>Interface de partage (chatbox, photos...).</li>
            <li><i class="icon-li icon-check-empty"></i>Interface de selection d'excuses pour avoir perdu pour Brice.</li>
            <li><i class="icon-li icon-check-empty"></i>Authent pour les appels REST.</li>
        </ul>
      </div>

    </div><!-- /.container -->
