    <div class="container">

      <div class="row">
        <h2>Alcatel-Lucent Colombes FC</h2>
        <p>Toute petite application pour enregistrer les résultats du jeudi midi. Histoire de savoir qui marque le plus de buts et qui perd le plus de matchs. :D</p>
        <p>Work in progress...</p>
        <ul>
            <li>Gestion de match <i class="icon-double-angle-right"></i> buts et fin de match.</li>
            <li>Sauvegarde de toutes les parties au lieu de réinitialiser la même chaque semaine.</li>
            <li>Interface de gestion CRUD joueur.</li>
            <li>Interface de gestion des équipes.</li>
            <li>Interface de partage (chatbox, photos...).</li>
            <li>Authent pour les appels REST (server side - game resource).</li>
            <li>Authent pour certaines actions (client side - buts, fin de match).</li>
        </ul>
      </div>

    </div><!-- /.container -->
