    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 text-right">
                <h1>{{game.teamA.score}}</h1>
                <h5 ng-repeat="player in players | filter:{teamRef:'A'} | orderBy:'firstName'">
                    <i class="fam-sport-soccer" ng-show="player.scored > 0"></i>
                    <span ng-show="player.scored > 1"> (x{{player.scored}})</span>
                    <span ng-show="player.ownGoals > 0"><i class="fam-sport-soccer-danger"></i>
                    (CSC<span ng-show="player.ownGoals > 1"> x{{player.ownGoals}}</span>)</span> {{player.firstName}}
                    <button ng-show="selectedGame == games.length-1 && teamEditing" type="button" class="btn btn-xs btn-success" ng-click="join(player)" href="" data-toggle="tooltip" title="Changer d'équipe"><i class="icon-share-alt"></i></button>
                </h5>
            </div>
            <div class="col-md-2 text-center">
                <h1><i class="icon-trophy text-warning icon-large"></i></h1>
            </div>
            <div class="col-md-4 text-left">
                <h1>{{game.teamB.score}}</h1>
                <h5 ng-repeat="player in players | filter:{teamRef:'B'} | orderBy:'firstName'">
                    <button ng-show="selectedGame == games.length-1 && teamEditing" type="button" class="btn btn-xs btn-success" ng-click="join(player)" href="" data-toggle="tooltip" title="Changer d'équipe"><i class="icon-reply"></i></button>
                    {{player.firstName}}
                    <i class="fam-sport-soccer" ng-show="player.scored > 0"></i>
                    <span ng-show="player.scored > 1"> (x{{player.scored}})</span>
                    <span ng-show="player.ownGoals > 0"><i class="fam-sport-soccer-danger"></i>
                    (CSC<span ng-show="player.ownGoals > 1"> x{{player.ownGoals}}</span>)</span>
                </h5>
            </div>
        </div>

        <div class="container text-center" ng-show="selectedGame == games.length-1">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown">Prochain match <span class="caret"></span></button>
                <ul class="dropdown-menu text-left" role="menu">
                    <li><a href="" ng-click="teamEditing = !teamEditing"><i class="icon-edit"></i> Modifier les &eacute;quipes</a></li>
                    <!--li><a href="" class="disabled"><i class="icon-random"></i> &Eacute;quilibrer automatiquement</a></li-->
                </ul>
            </div>
        </div>
    </div>

    <div class="container text-center">

        <div class="row text-center">
            <div class="col-md-4">
                <h2>Matchs précédents :</h2>
            </div>

            <div class="col-md-4">
                <ul class="pagination">
                    <li><a href="" ng-click="setGame(0)" ng-class="{'disabled': (selectedGame == 0)}"><i class="icon-double-angle-left"></i></a></li>
                    <li><a href="" ng-click="setGame(selectedGame-1)" ng-class="{'disabled': (selectedGame == 0)}"><i class="icon-angle-left"></i></a></li>
                    <li ng-repeat="game in games | orderBy:'timestamp' | startFrom:pageStart | limitTo:5 " ng-class="{'active': (selectedGame == game.index)}"><a href="" ng-click="setGame(game.index)">{{game.index+1}}</a></li>
                    <li><a href="" ng-click="setGame(selectedGame+1)" ng-class="{'disabled': (selectedGame == games.length-1)}"><i class="icon-angle-right"></i></a></li>
                    <li><a href="" ng-click="setGame(games.length-1)" ng-class="{'disabled': (selectedGame == games.length-1)}"><i class="icon-double-angle-right"></i></a></li>
                </ul>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Alcatel-Lucent 2013</p>
        </footer>

    </div> <!-- /container -->




