
	<div class="container">
        <div class="page-header">
            <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Titulaires - équipe 1
                            </a>
                            <span class="badge pull-right badge-active-success">{{(players | filter:{teamRef:"A"}).length}}</span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body panel-body-accordion">
                            <ul class="list-group list-group-accordion">
                                <li class="list-group-item" ng-repeat="player in players | filter:{teamRef:'A'} | orderBy:'firstName'">
                                    <div class="btn-group btn-group-xs">
                                        <button type="button" class="btn btn-success tooltiped" ng-click="leave(player)" href="" data-placement="left" data-toggle="tooltip" title="Retourner sur le banc"><i class="icon-reply"></i></button>
                                        <button type="button" class="btn btn-success tooltiped" ng-click="join(player)" href="" data-placement="top" data-toggle="tooltip" title="Changer d'équipe"><i class="icon-random"></i></button>
                                    </div>
                                    <strong>{{player.firstName}} {{player.lastName}}</strong>
                                    <div class="btn-group btn-group-xs pull-right">
                                        <button type="button" class="btn disabled btn-default" ng-click="editPlayer(player)"><i class="icon-edit"></i></button>
                                        <button type="button" class="btn disabled btn-default" ng-click="destroyPlayer(player)"><i class="icon-remove"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Titulaires - équipe 2
                            </a>
                            <span class="badge pull-right badge-active-danger">{{(players | filter:{teamRef:"B"}).length}}</span>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body panel-body-accordion">
                            <ul class="list-group list-group-accordion">
                                <li class="list-group-item" ng-repeat="player in players | filter:{teamRef:'B'} | orderBy:'firstName'">
                                    <div class="btn-group btn-group-xs">
                                        <button type="button" class="btn btn-danger tooltiped" ng-click="leave(player)" href="" data-placement="left" data-toggle="tooltip" title="Retourner sur le banc"><i class="icon-reply"></i></button>
                                        <button type="button" class="btn btn-danger tooltiped" ng-click="join(player)" href="" data-toggle="tooltip" data-placement="top" title="Changer d'équipe"><i class="icon-random"></i></button>
                                    </div>
                                    <strong>{{player.firstName}} {{player.lastName}}</strong>
                                    <div class="btn-group btn-group-xs pull-right">
                                        <button type="button" class="btn disabled btn-default" ng-click="editPlayer(player)"><i class="icon-edit"></i></button>
                                        <button type="button" class="btn disabled btn-default" ng-click="destroyPlayer(player)"><i class="icon-remove"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Sur le banc
                            </a>
                            <span class="badge pull-right badge-active-info">{{(players | filter:{teamRef:"N"}).length}}</span>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body panel-body-accordion">
                            <ul class="list-group list-group-accordion">
                                <li class="list-group-item" ng-repeat="player in players | filter:{teamRef:'N'} | orderBy:'firstName'">
                                    <a type="button" class="btn btn-info btn-xs tooltiped" ng-click="join(player)" href="" data-placement="left" data-toggle="tooltip" title="Jouer au prochain match"><i class="icon-share-alt"></i></a>
                                    <strong>{{player.firstName}} {{player.lastName}}</strong>
                                    <div class="btn-group btn-group-xs pull-right">
                                        <button type="button" class="btn disabled btn-default" ng-click="editPlayer(player)"><i class="icon-edit"></i></button>
                                        <button type="button" class="btn disabled btn-default" ng-click="destroyPlayer(player)"><i class="icon-remove"></i></button>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a type="button" data-toggle="modal" class="btn btn-info btn-xs tooltiped" data-placement="right" href="#addPlayerModal" title="Ajouter un nouveau joueur"><strong>Ajouter</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container -->

    <div id="addPlayerModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Ajouter un nouveau joueur...</h4>
                </div>
                <div class="modal-body">
                    <form role="form" novalidate>
                        <div class="form-group">
                            <label for="firstName">Prénom</label>
                            <input type="text" class="form-control" ng-model="newFirstName" id="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Nom</label>
                            <input type="text" class="form-control" ng-model="newLastName" id="lastName" placeholder="Last Name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" ng-click="createPlayer()">Créer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="editPlayerModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modifier un joueur...</h4>
                </div>
                <div class="modal-body">
                    <form class="form" role="form" novalidate>
                        <div class="form-group">
                            <label for="firstName">Prénom</label>
                            <input type="text" class="form-control" ng-model="editedPlayer.firstName" id="editFirstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Nom</label>
                            <input type="text" class="form-control" ng-model="editedPlayer.lastName" id="editLastName">
                        </div>
                        <div class="container">
                            <div class="row">
                                <label class="checkbox-inline col-lg-4">
                                    <input type="checkbox" ng-model="editedPlayer.certificate"> Certificat médical
                                </label>
                                <label class="checkbox-inline col-lg-4">
                                    <input type="checkbox" ng-model="editedPlayer.subscription"> Cotisation
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" ng-click="updatePlayer()">Modifier</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



