
	<div class="container">
		<div class="page-header">
			<h2>Playing this week <span class="label label-success">{{(players | filter:{isPlaying:true}).length}}</span></h2>
		</div>

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="player in players | filter:{isPlaying:true} | orderBy:'firstName'">
				<button type="button" class="btn btn-danger pull-left" ng-click="leave(player)"><i class="icon-remove"></i></button>
				<p><strong>{{player.firstName}} {{player.lastName}}</strong>
				<i class="icon-euro pull-right icon-border" style="color: green"></i>
				<i class="icon-medkit pull-right icon-border" style="color: green"></i></p>
			</li>
		</ul>
		
		<div class="page-header">
			<h2>On the bench <span class="label label-success">{{(players | filter:{isPlaying:false}).length}}</span></h2>
		</div>

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="player in players | filter:{isPlaying:false} | orderBy:'firstName'">
				<button type="button" class="btn btn-primary pull-left" ng-click="join(player)"><i class="icon-plus"></i></button>
				<p><strong>{{player.firstName}} {{player.lastName}}</strong>
				<i class="icon-euro pull-right icon-border" style="color: green"></i>
				<i class="icon-medkit pull-right icon-border" style="color: green"></i></p>
			</li>
		</ul>
		
    </div><!-- /.container -->


