
	<div class="container">

		<div class="page-header">
			<h2>Playing this week <span class="label label-success">{{(players | filter:{isPlaying:true}).length}}</span></h2>
		</div>

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="player in players | filter:{isPlaying:true} | orderBy:'firstName'">
                <a type="button" class="btn btn-danger btn-xs" ng-click="leave(player)" href=""><i class="icon-remove"></i></a>
                <strong>{{player.firstName}} {{player.lastName}}</strong>
			</li>
		</ul>
		
		<div class="page-header">
			<h2>On the bench <span class="label label-success">{{(players | filter:{isPlaying:false}).length}}</span></h2>
		</div>

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="player in players | filter:{isPlaying:false} | orderBy:'firstName'">
                <a type="button" class="btn btn-primary btn-xs" ng-click="join(player)" href=""><i class="icon-plus"></i></a>
				<strong>{{player.firstName}} {{player.lastName}}</strong>
			</li>
		</ul>

    </div><!-- /.container -->


