<div class="container">

    <form class="form-signin" role="form" ua-login>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" name="login" placeholder="Username" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
        <p ng-show="error">{{ error.message }}</p>
    </form>

</div> <!-- /container -->