<div class="container">

    <div class="page-header">
        <h2>Joueurs :</h2>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            Titulaires
            <span class="badge badge-active-primary">&nbsp;&nbsp;{{(players | filterPlaying).length}}&nbsp;&nbsp;</span>
        </a>
        <a href="" ng-click="joinLeave(player)" class="list-group-item" ng-class="{'list-group-item-info': player.teamRef!='N'}" ng-repeat="player in players | orderBy:'firstName'">
            <strong>{{player.firstName}} {{player.lastName}}</strong>
            <span ng-show="player.teamRef != 'N'" class="badge badge-active-primary">titulaire</span>
        </a>
        <a href="#addPlayerModal" class="list-group-item list-group-item-info" data-toggle="modal">
            <i class="fa fa-plus"></i> <strong>Ajouter un nouveau joueur...</strong>
        </a>
    </div>
</div><!-- /.container -->

<div id="addPlayerModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter un nouveau joueur...</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="form-group">
                        <label for="firstName">Prénom</label>
                        <input type="text" class="form-control" ng-model="newFirstName" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nom</label>
                        <input type="text" class="form-control" ng-model="newLastName" id="lastName" placeholder="Last Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" ng-click="createPlayer()">Créer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->