
	<div class="container">

        <div class="page-header">
            <h2>Classement :</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed  table-striped  table-hover">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 5%">#</th>
                        <th><a href="" ng-click="predicate = 'firstName'; reverse=!reverse">Joueur</a></th>
                        <th class="text-center" style="width: 5%"><a href="" ng-click="predicate = ['points', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Points = ( 3 x V + N ) + ( Buts x 0,05 )">Pts</a></th>
                        <th class="text-center" style="width: 5%"><a href="" ng-click="predicate = ['wins', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Victoires">V</a></th>
                        <th class="text-center" style="width: 5%"><a href="" ng-click="predicate = ['draws', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Nuls">N</a></th>
                        <th class="text-center" style="width: 5%"><a href="" ng-click="predicate = ['losses', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="D&eacute;faites">D</a></th>
                        <th class="text-center" style="width: 5%"><a href="" ng-click="predicate = ['goals', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Buts">Buts</a></th>
                        <th class="text-center" style="width: 5%"><a href="" ng-click="predicate = ['gpm', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Buts / match">Bpm</a></th>
                        <th class="text-center" style="width: 5%"><span data-toggle="tooltip" title="Statistiques">Stats</span></th>
                        <th class="text-center" style="width: 5%"><i class="fa fa-user-md" data-toggle="tooltip" title="Certificat M&eacute;dical"></i></th>
                        <th class="text-center" style="width: 5%"><i class="fa fa-euro" data-toggle="tooltip" title="Cotisation"></i></th>
                        <th class="text-center" style="width: 5%" ng-show="user.authenticated"></th>
                        <th class="text-center" style="width: 5%" ng-show="user.authenticated"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players | orderBy:predicate:reverse">
                        <td class="text-center"><i class="fa fa-trophy fa-2x text-warning" ng-show="$first"></i>
                            <i class="fa fa-trophy fa-lg text-muted" ng-show="$index == 1"></i>
                            <i class="fa fa-trophy" ng-show="$index == 2"></i>
                            <strong ng-show="$index > 2">{{$index+1}}</strong></td>
                        <td>{{player.firstName}} {{player.lastName}}</td>
                        <td class="text-center">{{player.points | number:2}}</td>
                        <td class="text-center">{{player.wins}}</td>
                        <td class="text-center">{{player.draws}}</td>
                        <td class="text-center">{{player.losses}}</td>
                        <td class="text-center">{{player.goals}}</td>
                        <td class="text-center">{{player.gpm | number:2}}</td>
                        <td class="text-center"><a href="" ng-click="displayStats(player)"><i class="fa fa-bar-chart"></i></a></td>
                        <td class="text-center"><i class="fa {{player.certificate | checkmark}}"></i></td>
                        <td class="text-center"><i class="fa {{player.subscription | checkmark}}"></i></td>
                        <td class="text-center" ng-show="user.authenticated">
                            <button type="button" class="btn btn-warning btn-xs" ng-click="editPlayer(player)"><i class="fa fa-edit"></i></button>
                        </td>
                        <td class="text-center" ng-show="user.authenticated">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="destroyPlayer(player)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="alert alert-info alert-dismissable" ng-show="players.length == 0">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
            Aucun joueur enregistr&eacute; pour l'instant.
        </div>

    </div><!-- /.container -->

    <div id="editPlayerModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modifier un joueur...</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" novalidate>
                        <div class="form-group">
                            <label for="editFirstName" class="col-sm-2 control-label">Pr&eacute;nom</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="editedPlayer.firstName" id="editFirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editLastName" class="col-sm-2 control-label">Nom</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="editedPlayer.lastName" id="editLastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="editedPlayer.certificate"> Certificat m&eacute;dical
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="editedPlayer.subscription"> Cotisation
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Note g&eacute;n&eacute;rale</label>
                            <div class="col-sm-6">
                                <rating rate="editedPlayer.rating" max="5"></rating>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Skills (dribble, frappe)</label>
                            <div class="col-sm-6">
                                <rating rate="editedPlayer.skills" max="5"></rating>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Endurance (cardio, motivation)</label>
                            <div class="col-sm-6">
                                <rating rate="editedPlayer.stamina" max="5"></rating>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">D&eacute;fense (gardien, d&eacute;fense)</label>
                            <div class="col-sm-6">
                                <rating rate="editedPlayer.defense" max="5"></rating>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" ng-click="updatePlayer()">Modifier</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="displayStatsModal" role="dialog" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Statistiques pour {{playerStats.firstName}}</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-md-5"><highchart id="playsChart" config="playsConfig"></highchart></div>
                    <div class="col-md-7"><highchart id="attributesChart" config="attributesConfig"></highchart></div>
                    <div class="col-md-12"><highchart id="goalsChart" config="goalsConfig"></highchart></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->