
	<div class="container">

        <div class="page-header">
            <h2>Classement :</h2>
        </div>

        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-remove"></i></button>
            <span class="glyphicon glyphicon-warning-sign"></span> <strong>Attention</strong>, à partir du mois d'Octobre, ceux qui ne sont pas inscrits passeront en seconde partie de classement.
        </div>

        <table class="table table-condensed  table-striped  table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th><a href="" ng-click="predicate = 'firstName'; reverse=!reverse">Joueur</a></th>
                    <th><a href="" ng-click="predicate = ['wins', 'goals', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Victoires">V</a></th>
                    <th><a href="" ng-click="predicate = ['draws', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Nuls">N</a></th>
                    <th><a href="" ng-click="predicate = ['losses', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Défaites">D</a></th>
                    <th><a href="" ng-click="predicate = ['goals', 'firstName']; reverse=!reverse" data-toggle="tooltip" title="Buts">B</a></th>
                    <th><i class="icon-user-md" data-toggle="tooltip" title="Certificat Médical"></i></th>
                    <th><i class="icon-euro" data-toggle="tooltip" title="Cotisation"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players | orderBy:predicate:reverse">
                    <td>{{$index+1}}</td>
                    <td>{{player.firstName}} {{player.lastName}}</td>
                    <td>{{player.wins}}</td>
                    <td>{{player.draws}}</td>
                    <td>{{player.losses}}</td>
                    <td>{{player.goals}}</td>
                    <td><i class="{{player.certificate | checkmark}}"></i></td>
                    <td><i class="{{player.subscription | checkmark}}"></i></td>
                </tr>
            </tbody>
        </table>

    </div><!-- /.container -->


