	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="row">
            <div class="text-center">
                <h1><i class="fa fa-trophy text-warning fa-lg"></i></h1>
            </div>
        </div>

        <br />

        <div class="container text-center">
            <div>
                <h4><small><span class="label label-danger">Prochain match</span></small></h4>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <b class="panel-title">Team A </b>
                        <span class="badge badge-active-primary">
                            <teamrating teamrate="game.teamA.averagerating" max="5"></teamrating>
                        </span>
                    </div>
                    <div class="list-group text-center">
                        <a href="" class="list-group-item" ng-show="game.teamA.teammateRefs.length==0">Aucun</a>
                        <a href="" ng-click="changeTeam(player)" class="list-group-item" ng-repeat="player in players | filter:{teamRef:'A'} | orderBy:'firstName'">
                            {{player.firstName}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center active">
                        <b class="panel-title">Team B</b>
                        <span class="badge badge-active-primary">
                            <teamrating teamrate="game.teamB.averagerating" max="5"></teamrating>
                        </span>
                    </div>
                    <div class="list-group text-center">
                        <a href="" class="list-group-item" ng-show="game.teamB.teammateRefs.length==0">Aucun</a>
                        <a href="" ng-click="changeTeam(player)" class="list-group-item" ng-repeat="player in players | filter:{teamRef:'B'} | orderBy:'firstName'">
                            {{player.firstName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center" ng-show="user.authenticated">
            <div class="btn-group">
                <button class="btn btn-xs btn-primary" type="button" ng-click="balanceTeams('rating')">
                    <i class="fa fa-random"></i> &Eacute;quilibrer les &eacute;quipes
                </button>
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" ng-click="confirmEnd()">
                    <i class="fa fa-gavel"></i> Finir le match
                </button>
            </div>
        </div>
    </div>

    <div id="endModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title">Finir le match ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" ng-click="end()">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




